__pycache__/
*.py[cod]

.pytest_cache/
.ruff_cache/
.mypy_cache/

build/
dist/
*.egg-info/

.venv/
venv/

benchmarks/*.json
benchmarks/*.jsonl
examples/**/__pycache__/
examples/**/results/**
examples/**/*.csv
examples/**/*.jsonl
examples/**/*.log
examples/results/*.html
examples/results/*.json
examples/results/*.jsonl

perf/
.idea/
.vscode/
